@font-face {
  font-family: system;
  font-style: normal;
  font-weight: 300;
  /* prettier-ignore */
  src:  local('.SFNSText-Light'),
        local('.HelveticaNeueDeskInterface-Light'),
        local('.LucidaGrandeUI'),
        local('Ubuntu Light'),
        local('Segoe UI Light'),
        local('Roboto-Light'),
        local('DroidSans'),
        local('Tahoma');
}

:root {
  --spacing: 1em;
}

html {
  background-color: rgb(143, 47, 95);
  color: white;
  font-family: system-ui;
  padding: var(--spacing);
  text-size-adjust: none;
}

a {
  color: yellow;
}

.class {
  display: grid;
}

.class2 {
  display: flex;
}

@media (min-resolution: 2dppx) {
  .image {
    display: contents;
  }
}
