.c-header-menu {
  background-color: var(--color-white);
  border: 3px solid var(--color-brand);
  border-radius: 4px;
  box-shadow: 0 50px 100px rgba(50, 50, 93, 0.1), 0 15px 35px #32325d26,
    0 5px 15px rgba(0, 0, 0, 0.1);
  left: var(--c-container-gutter);
  max-height: calc(100vh - calc(var(--c-container-gutter) * 2));
  overflow-x: auto;
  padding-bottom: var(--c-container-gutter);
  padding-top: var(--c-container-gutter);
  position: fixed;
  right: var(--c-container-gutter);
  top: var(--c-header-spacing-ends);
}

/**
 * Disable vertical scrolling on the document when the menu is open.
 */

@media (--palm) {
  .is-header-menu-open {
    overflow-y: hidden;
  }
}

/**
 * Nav.
 */

.c-header-menu__nav {
  margin-bottom: var(--spacing-large);
}

.c-header-menu__nav a {
  display: block;
  font-size: var(--font-size-large);
  padding-bottom: var(--c-header-menu-link-padding-ends);
  padding-top: var(--c-header-menu-link-padding-ends);
  transition: color var(--transition-smooth);
}

.c-header-menu__nav a:focus,
.c-header-menu__nav a:hover {
  color: var(--color-brand);
}
