.c-menu {
  align-items: center;
  background-color: color(var(--color-brand) alpha(-10%));
  bottom: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  left: 0;
  position: fixed;
  right: 0;
  top: 0;
}

.c-menu a {
  color: white;
  display: block;
}
