.c-menu-trigger {
  align-items: center;
  display: flex;
  height: var(--c-menu-trigger-size);
  position: relative;
  width: var(--c-menu-trigger-size);
}

.c-menu-trigger span,
.c-menu-trigger span::before,
.c-menu-trigger span::after {
  background-color: white;
  border-radius: 2px;
  height: 2px;
  width: 80%;
}

.c-menu-trigger span::before,
.c-menu-trigger span::after {
  content: '';
  left: 0;
  position: absolute;
}

.c-menu-trigger span::before {
  top: var(--c-menu-trigger-bar-position-offset);
  width: 60%;
}

.c-menu-trigger span::after {
  bottom: var(--c-menu-trigger-bar-position-offset);
  width: 100%;
}
