.u-scale-up-from-top-right {
  animation: scale-up-from-top-right 0.25s;
  transform-origin: 100% 0;
}

@keyframes scale-up-from-top-right {
  0% {
    opacity: 0;
    transform: scale(0.95);
  }

  100% {
    opacity: 1;
    transform: none;
  }
}

.c-header-menu-is-exiting {
  opacity: 1;
  transition: opacity 250ms ease-in-out;
}

.c-header-menu-is-exited {
  opacity: 0;
}

.u-scale-down-from-top-right-exiting {
  animation: scale-down-from-top-right 0.25s;
  transform-origin: 100% 0;
}

@keyframes scale-down-from-top-right {
  0% {
    opacity: 1;
  }

  100% {
    opacity: 0;
    transform: scale(0.95);
  }
}
