@import 'src/assets/css/config';

.c-contact-ctas__item {
  border: 2px solid var(--c-contact-ctas-color);
  border-radius: 100px;
  color: var(--c-contact-ctas-color);
  display: inline-block;
  padding: var(--spacing-smallx) var(--spacing-largex);
  transition: all var(--transition-smooth);
}

.c-contact-ctas__item:not(:last-child) {
  margin-right: var(--spacing-small);
}

.c-contact-ctas--alternate-style .c-contact-ctas__item {
  background-color: var(--c-contact-ctas-background-alternate);
  border: 0;
  color: var(--c-contact-ctas-color-alternate);
  font-variant-caps: all-small-caps;
  font-weight: 200;
  padding: var(--spacing-small2x) var(--spacing-base)
    calc(var(--spacing-small2x) + 2px);
}

.c-contact-ctas__item:focus,
.c-contact-ctas__item:hover {
  border-color: var(--c-contact-ctas-color-hover);
  color: var(--c-contact-ctas-color-hover);
  text-decoration: none;
}

.c-contact-ctas--alternate-style .c-contact-ctas__item:focus,
.c-contact-ctas--alternate-style .c-contact-ctas__item:hover {
  background-color: color(
    var(--c-contact-ctas-background-alternate) shade(12%)
  );
  color: var(--c-contact-ctas-color-alternate);
}

.c-header .c-contact-ctas--alternate-style .c-contact-ctas__item:focus {
  outline-color: var(--color-focus-alternate);
}
