$_color: $color-link;
$_color-hover: $color-link;
$_color-alternate: $color-white;
$_color-bg-alternate: $color-brand;
$_spacing-small3x: $spacing-small3x;

.item {
  border: 2px solid $_color;
  border-radius: 100px;
  color: $_color;
  display: inline-block;
  padding: $_spacing-small3x $spacing-large7x;
  transition: all $transition-smooth;

  &:not(:last-child) {
    margin-right: $spacing-small1x;
  }

  &:focus,
  &:hover {
    border-color: $_color-hover;
    color: $_color-hover;
    text-decoration: none;
  }
}

.isAlternateStyle .item {
  background-color: $_color-bg-alternate;
  border: 0;
  color: $_color-alternate;
  font-variant-caps: all-small-caps;
  font-weight: 200;
  padding: $_spacing-small3x $spacing-default calc($_spacing-small3x + 2px);

  &:focus,
  &:hover {
    background-color: color($_color-bg-alternate shade(12%));
    color: $_color-alternate;
  }
}

.c-header .isAlternateStyle .item:focus {
  outline-color: $color-focus-alternate;
}
