/**
 * Scale and fade from top right.
 */

.scale-and-fade-from-top-right {
  transition: all 150ms;
  transform-origin: 100% 0;
  will-change: opacity, transform;

  &.is-entering,
  &.is-exited,
  &.is-exiting {
    opacity: 0;
    transform: scale(0.95);
  }

  &.is-entered {
    opacity: 1;
    transform: scale(1);
  }
}
