.c-container {
  margin: 0 auto;
  max-width: var(--c-container-max-width);
  padding-left: var(--c-container-gutter);
  padding-right: var(--c-container-gutter);
  width: 100%;
}

.c-container--is-inline {
  display: block;
}
