$_gutter: $spacing-large1x;

.c-container {
  margin: 0 auto;
  max-width: calc(1260 / $typography-size-default * 1rem);
  padding-left: $_gutter;
  padding-right: $_gutter;
  width: 100%;
}

.c-container--is-inline {
  display: inline-block;
}
