.c-container {
  margin: 0 auto;
  max-width: calc(1440 / var(--root-font-size));
  padding-left: var(--c-container-gutter);
  padding-right: var(--c-container-gutter);
  width: 100%;
}

.c-container--is-inline {
  display: block;
}
