.c-header-menu-button {
  /* background: gold;
  border: 1px solid gold; */

  background-clip: content-box;
  height: var(--c-header-menu-button-size);
  padding: var(--c-header-menu-button-padding);
  width: var(--c-header-menu-button-size);
}

.c-header-menu-button span,
.c-header-menu-button span::before,
.c-header-menu-button span::after {
  border-radius: 2px;
  display: block;
  height: 2px;
  transition: opacity var(--transition-smooth);
}

.c-header-menu-button span::before,
.c-header-menu-button span::after {
  content: '';
}

.c-header-menu-button:focus span,
.c-header-menu-button:hover span {
  opacity: 0.5;
}

/**
 * Open button.
 */

.c-header-menu-button--open {
  transform: translate(
    var(--c-header-menu-button-padding),
    calc(var(--c-header-menu-button-padding) * -1)
  );
}

.c-header-menu-button--open span,
.c-header-menu-button--open span::before,
.c-header-menu-button--open span::after {
  background-color: var(--color-white);
}

.c-header-menu-button--open span,
.c-header-menu-button--open span::before {
  margin-right: var(--c-header-menu-button-open-bar-position-offset);
}

.c-header-menu-button--open span::before {
  transform: translateY(
    calc(
      -2px + calc(var(--c-header-menu-button-open-bar-position-offset) * -1px)
    )
  );
}

.c-header-menu-button--open span::after {
  margin-right: calc(
    var(--c-header-menu-button-open-bar-position-offset) * -1px
  );
  transform: translateY(var(--c-header-menu-button-open-bar-position-offset));
}

/**
 * Close button.
 */

.c-header-menu-button--close {
  position: absolute;
  top: 0;
  right: 0;
}

.c-header-menu-button--close span {
  background: transparent;
}

.c-header-menu-button--close span::before,
.c-header-menu-button--close span::after {
  background-color: var(--color-brand);
}

.c-header-menu-button--close span::before {
  transform: rotate(45deg);
}

.c-header-menu-button--close span::after {
  transform: rotate(-45deg) translate(1px, -1px);
}
