.c-main {
  position: relative;
  transition: filter $transition-smooth;
  will-change: filter;
  z-index: $zIndex-layout-master-main;
}

/**
 * Make non-interactive and apply some filters whilst the mobile menu is open.
 */

@media $breakpoint-header-upTo {
  .is-mobile-menu-open .c-main {
    filter: grayscale(100%) blur(2px);
    pointer-events: none;
  }
}
