@charset 'UTF-8';

/**
 * Contents
 * ⎺⎺⎺⎺⎺⎺⎺⎺⎺⎺⎺⎺⎺⎺⎺⎺⎺⎺⎺⎺⎺⎺⎺⎺⎺⎺⎺⎺⎺⎺⎺⎺⎺⎺⎺⎺⎺⎺⎺⎺⎺⎺⎺⎺⎺⎺⎺⎺⎺⎺⎺⎺⎺⎺⎺⎺⎺⎺⎺⎺⎺⎺⎺⎺⎺⎺⎺⎺⎺⎺⎺⎺⎺⎺⎺⎺
 *
 * 1. backpack ‡
 * 2. Tokens
 * 3. Components
 *
 * ‡ Comes from 'node_modules'.
 */

/**
 * 1. backpack.
 */

@import 'backpack/index.css';

/**
 * 2. Tokens.
 */

@import 'tokens.css';

/**
 * Components.
 */

@import '../../components/Container/Container.css';
@import '../../components/Header/Header.css';
@import '../../components/Header/innards/Menu/Menu.css';
@import '../../components/Header/innards/MenuTrigger/MenuTrigger.css';

/* Using What Input suppress the focus ring for mouse users */
[data-whatintent='mouse'] *:focus {
  outline: none;
}
