:root {
  /* Font */
  --root-font-size: 1rem;

  /* Colours */
  --color-brand: #455560;

  /* Spacing */
  --spacing-base: var(--root-font-size);
  --spacing-large: calc(var(--root-font-size) * 2);

  /* Components */
  --c-menu-trigger-size: var(--spacing-large);
  --c-menu-trigger-bar-position-offset: 6px;
}
