@import 'src/assets/css/config';

.c-header {
  background-color: var(--c-header-color);
  background-image: linear-gradient(
    45deg,
    color(var(--c-header-color) shade(6%)),
    color(var(--c-header-color) tint(16%))
  );
  padding-bottom: var(--c-header-spacing-ends);
  padding-top: var(--c-header-spacing-ends);
  position: relative;
  z-index: var(--z-index-header);
}

@media (--from-largex) {
  .c-header {
    padding-bottom: var(--c-header-spacing-ends-large);
    padding-top: var(--c-header-spacing-ends-large);
  }
}

.c-header__inner {
  display: flex;
  justify-content: space-between;
}

.c-header__non-mobile-nav {
  align-items: flex-end;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
