@import 'src/assets/css/config';

.c-footer {
  border-top: 1px solid var(--color-grey);
  padding-bottom: var(--c-footer-spacing-ends);
  padding-top: var(--c-footer-spacing-ends);
  position: relative;
  transition: filter var(--transition-smooth);
  will-change: filter;
  z-index: var(--z-index-footer);
}

/**
 * Make non-interactive and apply some filters whilst the mobile menu is open.
 */

@media (--up-to-header-bp) {
  .is-mobile-menu-open .c-footer {
    filter: grayscale(100%) blur(2px);
    pointer-events: none;
  }
}

.c-footer__copyright {
  display: block;
  font-size: var(--font-size-small);
  text-align: center;
}
