$_spacing-ends: $spacing-large2x;

.c-footer {
  border-top: 1px solid $color-grey;
  padding-bottom: $_spacing-ends;
  padding-top: $_spacing-ends;
  position: relative;
  transition: filter $transition-smooth;
  will-change: filter;
  z-index: $zIndex-layout-master-footer;
}

/**
 * Make non-interactive and apply some filters whilst the mobile menu is open.
 */

@media $breakpoint-header-upTo {
  .is-mobile-menu-open .c-footer {
    filter: grayscale(100%) blur(2px);
    pointer-events: none;
  }
}

.c-footer__copyright {
  display: block;
  font-size: $typography-size-small;
  text-align: center;
}
