html {
  background: $color-brand;
  padding: em(40);
  color: var(--color-brand);
  font-size: var(--font-size-default);
}

/**
 * 1. Needed so that `<MasterLayout>`s minimum height is the height of the
 *    viewport.
 */

body {
  min-height: 100vh; /* 1 */
}
