/*
 * Spacing in both downwards (default) and upwards directions.
 */

/*
 * Downwards direction.
 */

.u-spacing-down-small3x {
  margin-bottom: var(--spacing-small3x) !important;
}

.u-spacing-down-small2x {
  margin-bottom: var(--spacing-small3x) !important;
}

.u-spacing-down-small1x {
  margin-bottom: var(--spacing-small1x) !important;
}

.u-spacing-down-default {
  margin-bottom: var(--spacing-default) !important;
}

.u-spacing-down-large1x {
  margin-bottom: var(--spacing-large1x) !important;
}

.u-spacing-down-large2x {
  margin-bottom: var(--spacing-large2x) !important;
}

.u-spacing-down-large3x {
  margin-bottom: var(--spacing-large3x) !important;
}

.u-spacing-down-large4x {
  margin-bottom: var(--spacing-large4x) !important;
}

.u-spacing-down-large5x {
  margin-bottom: var(--spacing-large5x) !important;
}

.u-spacing-down-large6x {
  margin-bottom: var(--spacing-large6x) !important;
}

.u-spacing-down-large7x {
  margin-bottom: var(--spacing-large7x) !important;
}

/*
 * Upwards direction.
 */

.u-spacing-up-small3x {
  margin-top: var(--spacing-small3x) !important;
}

.u-spacing-up-small2x {
  margin-top: var(--spacing-small3x) !important;
}

.u-spacing-up-small1x {
  margin-top: var(--spacing-small1x) !important;
}

.u-spacing-up-default {
  margin-top: var(--spacing-default) !important;
}

.u-spacing-up-large1x {
  margin-top: var(--spacing-large1x) !important;
}

.u-spacing-up-large2x {
  margin-top: var(--spacing-large2x) !important;
}

.u-spacing-up-large3x {
  margin-top: var(--spacing-large3x) !important;
}

.u-spacing-up-large4x {
  margin-top: var(--spacing-large4x) !important;
}

.u-spacing-up-large5x {
  margin-top: var(--spacing-large5x) !important;
}

.u-spacing-up-large6x {
  margin-top: var(--spacing-large6x) !important;
}

.u-spacing-up-large7x {
  margin-top: var(--spacing-large7x) !important;
}
