:root {
  /**
   * Typography.
   */

  --font-size-default: calc(var(--root-unit) / 16 * 1rem);
  --font-size-small: calc(var(--font-size-default) - 2px);
  --font-size-large: calc(var(--font-size-default) + 2px);

  /**
   * Colours.
   */

  --color-brand: #455560;
  --color-white: white;
  --color-black: black;
  --color-link: #5499c7;
  --color-alpha: hsla(0, 0%, 100%, 0.5);
  --color-focus: var(--color-brand);
  --color-focus-alternate: var(--color-white);
  --color-grey: #e8eaeb;

  /**
   * Spacing.
   *
   * Default: 16
   * Smaller: 12, 8, 4
   * Larger: 20, 24, 28, 32, 40, 48, 56
   */

  --spacing-default: var(--font-size-default);
  --spacing-small1x: calc(var(--font-size-default) - 4px);
  --spacing-small2x: calc(var(--font-size-default) / 2);
  --spacing-small3x: calc(var(--font-size-default) / 4);
  --spacing-large1x: calc(var(--font-size-default) + 4px);
  --spacing-large2x: calc(var(--font-size-default) + 8px);
  --spacing-large3x: calc(var(--font-size-default) + 12px);
  --spacing-large4x: calc(var(--font-size-default) + 16px);
  --spacing-large5x: calc(var(--font-size-default) + 20px);
  --spacing-large6x: calc(var(--font-size-default) + 28px);
  --spacing-large7x: calc(var(--font-size-default) + 36px);

  /**
   * Accessibility/Ux.
   */

  --touch-target-size: var(--spacing-large7x);

  /**
   * Transitions.
   */

  --transition-smooth: 0.2s linear;

  /**
   * Z-indexes.
   */

  --z-index-header: 3;
  --z-index-main: 2;
  --z-index-footer: 1;

  /**
   * Components.
   */

  /* Contact CTAs */
  --c-contact-ctas-background-alternate: var(--color-brand);
  --c-contact-ctas-color: var(--color-link);
  --c-contact-ctas-color-hover: var(--color-brand);
  --c-contact-ctas-color-alternate: var(--color-white);

  /* Container */
  --c-container-max-width: calc(1260 / var(--root-unit) * 1rem);
  --c-container-gutter: var(--spacing-large1x);

  /* Footer */
  --c-footer-spacing-ends: var(--spacing-large2x);

  /* Header */
  --c-header-spacing-ends: var(--spacing-default);
  --c-header-spacing-ends-large: var(--spacing-large1x);
  --c-header-color: var(--color-brand);

  /* Mobile menu */
  --c-mobile-menu-top-offset: var(--c-header-spacing-ends);

  /* Mobile menu trigger */
  --c-mobile-menu-trigger-size: var(--touch-target-size);
  --c-mobile-menu-trigger-padding: var(--spacing-small1x);
  --c-mobile-menu-trigger-open-bar-position-offset: 6px;
  --c-mobile-menu-trigger-close-rotate: 45deg;

  /* Nav */
  --c-nav-mobile-link-padding-ends: var(--spacing-small3x);
}
