:root {
  /**
   * Typography.
   */

  --root-font-size: calc(var(--root-unit) / 16 * 1rem);
  --font-size-small: calc(var(--root-font-size) - 2px);
  --font-size-large: calc(var(--root-font-size) + 2px);

  /**
   * Colours.
   */

  --color-brand: #455560;
  --color-white: white;
  --color-black: black;
  --color-link: #5499c7;
  --color-alpha: hsla(0, 0%, 100%, 0.5);
  --color-focus: var(--color-brand);
  --color-focus-alternate: var(--color-white);
  --color-grey: #e8eaeb;

  /**
   * Spacing.
   *
   * Base: 16
   * Smaller: 12, 8, 4
   * Larger: 20, 24, 28, 32, 40, 48, 56
   */

  --spacing-small2x: calc(var(--root-font-size) / 4);
  --spacing-smallx: calc(var(--root-font-size) / 2);
  --spacing-small: calc(var(--root-font-size) - 4px);
  --spacing-base: var(--root-font-size);
  --spacing-large: calc(var(--root-font-size) + 4px);
  --spacing-largex: calc(var(--root-font-size) + 8px);
  --spacing-large2x: calc(var(--root-font-size) + 12px);
  --spacing-large3x: calc(var(--root-font-size) + 16px);
  --spacing-large4x: calc(var(--root-font-size) + 20px);
  --spacing-large5x: calc(var(--root-font-size) + 28px);
  --spacing-large6x: calc(var(--root-font-size) + 36px);

  /**
   * Accessibility/UX.
   */

  --touch-target-size: var(--spacing-large6x);

  /**
   * Transitions.
   */

  --transition-smooth: 0.2s linear;

  /**
   * Z-indexes.
   */

  --z-index-header: 3;
  --z-index-main: 2;
  --z-index-footer: 1;

  /**
   * Components.
   */

  /* Contact CTAs */
  --c-contact-ctas-background-alternate: var(--color-brand);
  --c-contact-ctas-color: var(--color-link);
  --c-contact-ctas-color-hover: var(--color-brand);
  --c-contact-ctas-color-alternate: var(--color-white);

  /* Container */
  --c-container-max-width: calc(1260 / var(--root-unit) * 1rem);
  --c-container-gutter: var(--spacing-large);

  /* Footer */
  --c-footer-spacing-ends: var(--spacing-largex);

  /* Header */
  --c-header-spacing-ends: var(--spacing-base);
  --c-header-spacing-ends-large: var(--spacing-large);
  --c-header-color: var(--color-brand);

  /* Mobile menu */
  --c-mobile-menu-top-offset: var(--c-header-spacing-ends);

  /* Mobile menu trigger */
  --c-mobile-menu-trigger-size: var(--touch-target-size);
  --c-mobile-menu-trigger-padding: var(--spacing-small);
  --c-mobile-menu-trigger-open-bar-position-offset: 6px;
  --c-mobile-menu-trigger-close-rotate: 45deg;

  /* Nav */
  --c-nav-mobile-link-padding-ends: var(--spacing-smallx);
}
