/**
 * Mobile.
 */

.c-nav--mobile {
  margin-bottom: $spacing-large1x;
}

.c-nav--mobile a {
  display: block;
  font-size: $typography-size-large;
  padding-bottom: var(--c-nav-mobile-link-padding-ends);
  padding-top: var(--c-nav-mobile-link-padding-ends);
  transition: color $transition-smooth;
}

.c-nav--mobile a:focus,
.c-nav--mobile a:hover {
  color: $color-brand;
}

/**
 * Non-mobile.
 */

.c-nav--non-mobile ul {
  display: flex;
}

.c-nav--non-mobile li:not(:last-child) {
  margin-right: $spacing-default;
}

@media $breakpoint-large2x-from {
  .c-nav--non-mobile li:not(:last-child) {
    margin-right: $spacing-small1x;
  }
}

.c-nav--non-mobile a {
  color: $color-white;
}

.c-nav--non-mobile a:focus {
  outline-color: $color-focus-alternate;
}

@media $breakpoint-large2x-from {
  .c-nav--non-mobile a {
    border-radius: 100px;
    display: block;
    padding: $spacing-small3x $spacing-default;
    transition: background-color 0.1s linear;
  }

  .c-nav--non-mobile a:focus,
  .c-nav--non-mobile a:hover {
    background-color: $color-link;
    text-decoration: none;
  }
}
